// Main Colors
$primary: #a4e869;
$secondary: #26b99a;
$background: #f3f3f3;
$background-secondary: #1a1c1e;

// Text Colors
$text-primary: #000000;
$text-secondary: #f7f7f7;

// Border radius
$border-radius: 0.5rem;
