.subtitle {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.footerText {
	font-size: 1rem;
	font-weight: 600;
	margin: 1rem 0;
}

.link {
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 1rem;
	color: #0000ff;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		color: #3636d3;
		text-decoration: underline;
	}
}
