.subtitle {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.footerText {
	font-size: 1rem;
	font-weight: 600;
	margin: 1rem 0;
}

.link {
	font-size: 1rem;
	color: var(--link-color);
	font-weight: 500;
	transition: color 0.2s ease-in-out;
	text-decoration: underline;
	cursor: pointer;

	&:hover {
		color: var(--link-color-hover);
	}
}
