@use 'src/styles' as *;

.main {
	margin: 1.5rem;
}

.title {
	font-size: 1.5em;
	color: $text-primary;
	font-weight: 600;
	margin-bottom: 1rem;

	span {
		font-weight: 400;
	}
}

.widgets {
	display: flex;
	gap: 1rem;
}

.smallWidgets {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
