@use 'src/styles' as *;

.button {
	// Remove default button styles
	background-color: transparent;
	border: none;
	outline: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	margin: 0;

	display: flex;
	align-items: center;
	padding: 0.2rem 6rem 0.2rem 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		background-color: var(--background-secondary-lighten-15);
	}

	&.selected {
		background-color: var(--background-secondary-lighten-15);
	}

	img {
		width: 1.5rem;
		height: 1.5rem;
	}

	p {
		font-size: 0.8rem;
		font-weight: 700;
		color: var(--text-moody);
		margin-left: 1rem;
	}
}
