{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"endOfLine": "lf",
	"singleAttributePerLine": true,
	"printWidth": 120
}
