@use 'src/styles' as *;

.statusBar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	border-radius: $border-radius;
	overflow: hidden;
}

.bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 100%;
}

.succeededBar {
	background-color: var(--success);
}

.warningBar {
	background-color: var(--warning);
}

.failedBar {
	background-color: var(--error);
}
