@use 'src/styles' as *;

.table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: $border-radius;

	thead {
		tr {
			th {
				padding: 12px 15px;
				text-align: left;
				font-weight: 500;
				font-size: 14px;
				color: lighten($text-primary, 25%);
				text-transform: uppercase;
			}
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid lighten($text-primary, 25%);
			border-radius: $border-radius;
			transition: background-color 0.3s ease;

			&:last-child {
				border: 0;
			}
			td {
				padding: 12px 15px;
				text-align: left;
				vertical-align: middle;
				font-weight: 300;
				font-size: 13px;
				color: $text-primary;
				border-bottom: 1px solid darken($text-secondary, 10%);
				&:last-child {
					border-right: 0;
				}
			}

			&:hover {
				background-color: lighten($text-primary, 70%);
			}
		}
	}
}

.empty {
	text-align: center;
	padding: 20px;
	color: $text-primary;
}

.wrapper {
	width: 100%;
}
