@use 'src/styles' as *;

.table {
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: $border-radius;

	thead {
		tr {
			th {
				padding: 12px 15px;
				text-align: left;
				font-weight: 500;
				font-size: 14px;
				color: var(--text-primary-lighten-25);
				text-transform: uppercase;
			}
		}
	}
	tbody {
		width: 100%;
		tr {
			border-bottom: 1px solid var(--text-primary-lighten-25);

			&:last-child {
				border: 0;
			}
			td {
				padding: 12px 15px;
				text-align: left;
				vertical-align: middle;
				font-weight: 300;
				font-size: 13px;
				color: var(--text-primary);
				border-bottom: 1px solid var(--text-secondary-darken-10);
				&:last-child {
					border-right: 0;
				}
			}
		}
	}
}

.rowClickable {
	cursor: pointer;
	border-radius: $border-radius;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: var(--text-primary-lighten-70);
	}
}

.empty {
	text-align: center;
	padding: 20px;
	color: var(--text-primary);
}

.wrapper {
	width: 100%;
	overflow-x: auto;
}
