@use 'src/styles' as *;

.title {
	font-size: 1em;
	color: var(--text-primary-lighten-30);
	font-weight: 700;
}

.value {
	font-size: 1.5em;
	color: #000;
	font-weight: 300;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	color: var(--text-primary-lighten-30);
	font-size: 0.8em;
}

.ok {
	color: var(--success);
}

.warning {
	color: var(--warning);
}

.danger {
	color: var(--error);
}
