@use 'src/styles' as *;

.buttonWrapper{
	display: flex;
	flex-direction: column;
	margin: 0 1rem 0;
	margin-bottom: 1rem;
	gap: 0.5rem;
}

.buttons{
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.text{
	font-size: 0.7rem;
	font-weight: 600;
	color: $text-moody;
}