:root [data-theme='dark'] {
	// Main Colors
	$primary: #81c784;
	--primary: #{$primary};
	--primary-lighten-25: #{darken($primary, 25%)};
	--primary-lighten-20: #{darken($primary, 20%)};
	--primary-lighten-10: #{darken($primary, 10%)};
	--primary-darken-20: #{lighten($primary, 20%)};

	$secondary: #4db6ac;
	--secondary: #{$secondary};
	--secondary-lighten-25: #{darken($secondary, 25%)};
	--secondary-lighten-10: #{darken($secondary, 10%)};

	$background: #353636;
	--background: #{$background};
	--background-lighten-15: #{darken($background, 15%)};
	--background-darken-10: #{lighten($background, 10%)};
	--background-darken-5: #{lighten($background, 5%)};
	--background-darken-2: #{lighten($background, 2%)};

	--input-background: var(--background-lighten-15);

	$background-secondary: #1a1c1e;
	--background-secondary: #{$background-secondary};
	--background-secondary-lighten-15: #{lighten($background-secondary, 15%)};
	--background-secondary-lighten-10: #{lighten($background-secondary, 10%)};

	// Text Colors
	$text-primary: #f7f7f7;
	--text-primary: #{$text-primary};
	--text-primary-lighten-70: #{lighten($text-primary, 25%)};
	--text-primary-lighten-30: #{lighten($text-primary, 30%)};
	--text-primary-lighten-25: #{lighten($text-primary, 25%)};
	--text-primary-lighten-20: #{lighten($text-primary, 20%)};

	$link-color: #4db6ac;
	--link-color: #{$link-color};
	--link-color-hover: #{lighten($link-color, 20%)};

	$text-secondary: #000000;
	--text-secondary: #{$text-secondary};
	--text-secondary-darken-10: #{darken($text-secondary, 10%)};

	$text-moody: #b4b6be;
	--text-moody: #{$text-moody};

	// Error Color
	$success: #81c784;
	--success: #{$success};
	--success-lighten-20: #{darken($success, 20%)};
	--success-lighten-10: #{darken($success, 10%)};

	$warning: #ffa726;
	--warning: #{$warning};
	--warning-lighten-20: #{darken($warning, 20%)};
	--warning-lighten-10: #{darken($warning, 10%)};

	$error: #e57373;
	--error: #{$error};
	--error-lighten-20: #{darken($error, 20%)};
	--error-lighten-10: #{darken($error, 10%)};

	// Box shadow
	$box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.6);
	--box-shadow: #{$box-shadow};
}
