@use 'src/styles' as *;

.button {
	outline: var(--primary) solid 1px;
	background-color: var(--primary-lighten-25);
	border: none;
	border-radius: 0.25rem;
	color: #000000;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	margin-right: 0.5rem;
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background-color: var(--primary-darken-20);
	}

	&:disabled {
		background-color: var(--primary-lighten-10);
		color: var(--text-primary-lighten-20);
		cursor: not-allowed;
	}

	&.small {
		font-size: 0.8rem;
		padding: 0.25rem 0.5rem;
	}

	&.secondary {
		outline: var(--secondary) solid 1px;
		background-color: var(--secondary-lighten-25);

		&:hover {
			background-color: var(--secondary);
		}

		&:disabled {
			background-color: var(--secondary-lighten-10);
		}
	}

	&.success {
		outline: var(--success) solid 1px;
		background-color: var(--success-lighten-20);

		&:hover {
			background-color: var(--success);
		}

		&:disabled {
			background-color: var(--success-lighten-10);
		}
	}

	&.error {
		outline: var(--error) solid 1px;
		background-color: var(--error-lighten-20);

		&:hover {
			background-color: var(--error);
		}

		&:disabled {
			background-color: var(--error-lighten-10);
		}
	}

	&.warning {
		outline: var(--warning) solid 1px;
		background-color: var(--warning-lighten-20);

		&:hover {
			background-color: var(--warning);
		}

		&:disabled {
			background-color: var(--warning-lighten-10);
		}
	}
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;

	&.loading {
		animation: spin 500ms linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
