@use 'src/styles' as *;

.main {
	margin: 1.5rem;
}

.title {
	font-size: 1.5em;
	color: $text-primary;
	font-weight: 600;
	margin-bottom: 1rem;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 0.5rem 0;
}
