@use 'src/styles' as *;

.widget {
	background-color: $background;
	border-radius: $border-radius;
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.1);
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	width: fit-content;
}
