@use 'src/styles' as *;

.widget {
	background-color: var(--background);
	border-radius: $border-radius;
	box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 1rem;
	overflow-x: auto;
}

.minSize {
	height: fit-content;
	width: fit-content;

	@include mediaQuery('small') {
		width: 100%;
	}
}

.content {
	width: fit-content;
	overflow-x: auto;

	@include mediaQuery('small') {
		width: 100%;
	}
}
