@use 'src/styles' as *;

.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	background-color: var(--background);
	padding: 1rem;

	h1 {
		font-size: 1.5em;
		color: var(--text-primary);
		font-weight: 400;
	}
}

.lastUpdated {
	display: flex;
	align-items: center;

	p {
		font-size: 1rem;
		color: var(--text-primary);
		font-weight: 500;

		span {
			font-weight: 700;
		}
	}

	button {
		margin-left: 0.3rem;
		outline: none;
		border: none;
		background: none;
		cursor: pointer;

		img {
			width: 1.2rem;
			height: 1.2rem;
		}
	}
}

.refreshing {
	animation: spin 300ms linear infinite;

	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
