@use 'src/styles' as *;

.mainLayoutWrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.mainLayout {
	flex: 1;
	display: flex;
	background-color: var(--background);

	@include mediaQuery('small') {
		flex-direction: column;
	}
}
