@use 'src/styles' as *;

.main {
	margin: 1.5rem;
	min-width: 50%;
}

.container {
	width: 100%;
}

.title {
	font-size: 1.5em;
	color: var(--text-primary);
	font-weight: 600;
	margin-bottom: 1rem;
}

.subtitle {
	font-size: 1.2em;
	color: var(--text-primary);
	font-weight: 700;
	margin-bottom: 1rem;
}

.link {
	font-size: 1rem;
	color: var(--link-color);
	font-weight: 500;
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--link-color-hover);
	}
}

.contentClass {
	width: 100% !important;
}
