@use 'src/styles' as *;

.serverNameInput {
	display: flex;
	gap: 0.5rem;
	align-items: flex-end;
}

.serverNameInputSelect {
	width: 100%;
}

.actions {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
}

.locationsList {
	display: flex;
	flex-direction: column;
}
