@use 'src/styles' as *;

.sidebar {
	background-color: $background-secondary;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	padding: 1rem;
	margin-bottom: 1rem;

	h1 {
		color: $text-secondary;
		font-size: 1.3rem;
		font-weight: 300;
		margin-left: 1rem;
	}
}

.footer {
	padding: 1rem;

	.footerText {
		margin-left: 0.7rem;
		color: $text-moody;
		font-size: 0.8rem;
		font-weight: 300;
		margin-bottom: 0.4rem;

		span {
			font-weight: 700;
		}
	}
}
